<template>
  <div class="container-header page-paddings">
    <nuxt-link class="brand green" to="/videos"><img class="logo-icon" src="~/assets/logo.jpg" /></nuxt-link>
      <div class="right-nav">
          <nuxt-link to="/videos" class="header-gap green">Videos</nuxt-link>
          <nuxt-link to="/logout" class="green">Logout</nuxt-link>
      </div>
    </div>
</template>

<style>
.green {
  color: #013B30 !important;
}
.green-sec {
  color: #3F6B63;
}
.page-paddings {
  padding: 0% 10%;
}
.brand {
  font-size: 28px;
}
.logo-icon {
  height: 32px;
}
.container-header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper {
  padding: 20px 0;
  color: #013B30;
}
.header-gap {
  margin-right: 40px;
}
.center {
  display: flex;
  align-items: center;
  color: #3F6B63;
}
</style>