<template>
    <div class="container-form">
        <h2 class="login-title">User Login</h2>
        <b-form>
            <b-form-group
            id="input-group-1"
            label-for="input-1"
            >
            <b-form-input
                id="input-1"
                v-model="form.username"
                type="text"
                required
                :state="usernameValidation"
                aria-describedby="input-live-help input-live-feedback"
                placeholder="Enter your user name"
            ></b-form-input>
            <b-form-invalid-feedback id="input-live-feedback">
                {{errorMessage}}
            </b-form-invalid-feedback>
            </b-form-group>
            <b-form-checkbox
                id="checkbox-1"
                v-model="status"
                name="checkbox-1"
                value="accepted"
                class="remember-me-checkbox"
                >
                Remember me
            </b-form-checkbox>
            <b-alert
                :show="dismissCountDown"
                dismissible
                variant="danger"
                @dismissed="dismissCountDown=0"
                @dismiss-count-down="countDownChanged"
                >
                Sorry, that username is not found!
            </b-alert>
        </b-form>
        <div type="button" :disabled="!usernameValidation" @click="onSubmit" :class="buttonClass" variant="success">Login</div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            form: {
                username: ''
            },
            status: false,
            showError: false,
            errorMessage: "Enter at least 3 letters",
            dismissSecs: 2,
            dismissCountDown: 0
        };
    },
    computed: {
        usernameValidation() {
            if(this.form.username == '') {
                return;
            }
            return this.form.username.length > 2 ? true : false
        },
        buttonClass() {
            let className = "login-button";
            return this.form.username.length > 2 ? className : `${className} btn-disabled`;
        }
    },
    methods: {
        async onSubmit(){
            const users = await fetch(
                'http://localhost:8080/users'
            ).then(res => res.json())
            let userFound;
            if(users.data && users.data.length > 0) {
                userFound = users.data.find(user => user.username === this.form.username)
            }

            if(userFound !== undefined) {
                this.$store.commit('user/login')
                this.$router.push("videos");
            } else {
                this.showAlert()
            }
            
            return false;
        },
        countDownChanged(dismissCountDown) {
            this.dismissCountDown = dismissCountDown
        },
        showAlert() {
            this.dismissCountDown = this.dismissSecs
        }
    },
}
</script>
<style scoped>
.container-form {
    background: white;
    width: 500px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px 30px;
}
.remember-me-checkbox {
    text-align: left;
}
.login-title {
  color: #3F6B63;
}
.btn-disabled {
    opacity: 0.5;
}
.login-button {
    background: #027D61;
    color: white;
    align-self: center;
    padding: 5px 0;
    width: 140px;
    font-weight: bold;
    border-radius: 16px;
}
</style>