<template>
    <div class="play-video-container">
      <span class="back-button" @click="onClickBack">Back</span>
      <div class="embedded-video video-resize">
      <h2 class="video-player-heading">Customised Video Player<sub class="sub"><i>Powered by Wistia</i></sub></h2>
      <video-player :hash="video.video_id" />
      <h4 class="play-title">
          {{video.title}}
      </h4>
      <h6 class="play-description">
          {{video.description}}
      </h6>
      </div>
    </div>
</template>

<script>
export default {
  props: ["video", "onClickBack"]
}
</script>

<style scoped>
.play-video-container {
    padding: 2% 10%;
    color: #0E8369;
    height: calc(100vh - 100px);
}
.play-title {
  margin: 25px 0 5px 0;
}
.play-description {

}
.video-player-heading {
  padding: 15px 0;
}
.embedded-video {
  padding: 0% 15%;
}
.back-button {
  border: none;
  cursor: pointer;
}
.back-button:hover {
  text-decoration: underline;
  color: #426D65
}
.sub {
  font-size: 12px;
}
.video-cards {
  display: flex;
  flex-wrap: wrap;
}
</style>