<template>
    <div class="video-card-container" @click="onClick">
        <span class="thumbnail">
            <span class="image">
                <b-img width="400" height="400" thumbnail fluid :src="video.thumbnail"></b-img>
            </span>
            <div class="overlay">
                <button class="watch-btn"><b-icon-play scale="2" /></button>
            </div>
        </span>
        <div class="video-title">
            {{video.title}}
        </div>

        <div class="video-description">
            {{video.description}}
        </div>
    </div>
</template>

<script>

import Vue from 'vue'
import { BIconPlayFill } from 'bootstrap-vue'
Vue.component('BIconPlay', BIconPlayFill)

export default {
    props: ['video'],
    methods: {
        onClick() {
            this.$router.push(`videos/${this.video.id}`);
        }
    },
    middleware: 'auth'
}

</script>


<style scoped>
.thumbnail {
    position: relative;
}
.video-card-container {
    flex-basis: auto;
    display: flex;
    padding: 15px;
    cursor: pointer;
    width: 400px;
    display: flex;
    flex-direction: column;
}
.video-card-container:hover .thumbnail .image{
    opacity: 0.5;
}
.overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}
.video-card-container:hover .overlay {
    opacity: 1;
    border: 3px solid green;
}
.watch-btn {
    background-color: #013B30;
    color: white;
    align-self: center;
    width: 60px;
    padding: 5px;
    border-radius: 10px;
}
.watch-btn img {
    width: 30px;
    height: 30px;
}
.video-title {
    margin-top: 5px;
    font-size: 22px;
    line-height: 1.2;
    font-weight: bold;
    text-overflow: ellipsis;
}
.video-description {
    margin-top: 5px;
    font-size: 16px;
}
</style>