<template>
    <div>
    <script src="https://fast.wistia.net/assets/external/E-v1.js" async></script>
    <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
        <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
            <iframe :src="`https://fast.wistia.net/embed/iframe/${hash}?videoFoam=true`" title=" [Example Video] Wistia Video Essentials" allow="autoplay; fullscreen" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen msallowfullscreen width="100%" height="100%">
            </iframe>
        </div>
    </div>
    
    </div>
</template>

<script>
export default {
    props: ["hash"]
}
</script>