<template>
    <div class="videos-container">
        <div>
            <b-dropdown id="dropdown-1" 
                text="Category" class="m-4" menu-class="w-50" variant="light">
                <b-dropdown-item v-for="category in Object.keys(categories)" v-bind:key="category" :active="category == selectedCategory" @click="() => onClickCategory(category)">
                    {{category}}
                </b-dropdown-item>
            </b-dropdown>
        </div>
        <div class="video-cards">
            <video-card
                v-for="video in filteredVideos"
                v-bind:video="video"
                v-bind:key="video.id"
            ></video-card>
        </div>
        <div v-if="numberOfVideosToShow < videos.length" class="more-videos">
            <div class="more-videos-btn" @click="showMoreVideos">More videos</div>
        </div>
    </div>
</template>

<script>
export default {
    props: ["videos", "categories"],
    data() {
        return {
            selectedCategory: null,
            numberOfVideosToShow: 6
        }
    },
    methods: {
        showMoreVideos() {
            this.numberOfVideosToShow += 6;
        },
        onClickCategory(category) {
            if(this.selectedCategory == category) {
                this.selectedCategory = null;
            } else {
                this.selectedCategory = category;
            }
        }
    },
    computed: {
        filteredVideos() {
            if(this.selectedCategory) {
                return this.videos.filter(video => video.category == this.selectedCategory).slice(0, this.numberOfVideosToShow);
            }
            return this.videos.slice(0, this.numberOfVideosToShow);
        }
    }
}
</script>
<style scoped>
.videos-container {
    padding: 0% 10%;
    color: #0E8369;

}
.video-cards {
  display: flex;
  flex-wrap: wrap;
}
.more-videos {
    display: flex;
    justify-content: center;
}
.more-videos-btn {
    width: 152px;
    padding: 5px 5px;
    background: #EC5123;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 17px;
}
</style>