<template>
    <div class="container-login">
      <login-form />
    </div>
</template>

<script>
export default {}
</script>

<style scoped>
.container-login {
  margin: 0 auto;
  display: flex;
  height: calc(100vh - 80px);
  justify-content: center;
  background-color: #013B30;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand',
  'Source Sans Pro',
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  'Helvetica Neue',
  Arial,
  sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
