<template>
    <h1>You have successfully logged out!</h1>
</template>

<script>
export default {
    mounted() {
        this.$store.commit("user/logout")
        this.$router.push("/")
    },
}
</script>