<template>
    <play-video :video="video.data" :onClickBack="onClickBack" />
</template>

<script>
export default {
  data() {
    return {
      video: {
        data: {}
      }
    };
  },
  async fetch() {
      this.video = await fetch(
        `http://localhost:8080/videos/${this.$route.params.id}`
      ).then(res => res.json());
      this.video.data.link = `https://fast.wistia.net/embed/iframe/${this.video.data.video_id}?videoFoam=true`
      this.video.data.title = this.video.data.title.charAt(0).toUpperCase() + this.video.data.title.slice(1)
    },
    methods: {
        onClickBack() {
            this.$router.go(-1);
        }
    },
    middleware: 'auth'
}
</script>