<template>
    <videos :videos="videos.data" :categories="categories"/>
</template>

<script>
export default {
  data() {
    return {
      videos: {
        data: []
      },
      categories: {}
    };
  },
  async fetch() {
      this.videos = await fetch(
        'http://localhost:8080/videos'
      ).then(res => res.json());
      this.videos.data.map(video => {
        video.title = video.title.charAt(0).toUpperCase() + video.title.slice(1)

        video.thumbnail = `https://fast.wistia.com/embed/medias/${video.video_id}/swatch`;
        
        if(video.category != null && video.category != "") {
          if(video.category in this.categories) {
            this.categories[video.category]++;
          } else {
            this.categories[video.category] = 1;
          }
        }
      })
    },
  middleware: 'auth'
}
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand',
  'Source Sans Pro',
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  'Helvetica Neue',
  Arial,
  sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
